<!-- Generated your favicon at realfavicongenerator.net and copy code here -->
<link rel="apple-touch-icon" sizes="180x180" href="https://astroventure.org/Krish.png">
<link rel="icon" type="image/png" sizes="32x32" href="https://astroventure.org/Krish.png">
<link rel="icon" type="image/png" sizes="16x16" href="https://astroventure.org/Krish.png">
<link rel="manifest" href="https://astroventure.org/Krish.png">
<link rel="mask-icon" href="https://astroventure.org/Krish.png" color="#5bbad5">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">